html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}

#form {
    display: flex;
    margin-bottom: 20px;
}

form div {
    margin: 20px 10px;
}

form div label {
    font-weight: bold;
}

form div input {
    box-sizing: border-box;
}

#add_button, #search_button {
    margin-top: 19px;
    min-height: 33px;
}

/* hide the ID attribute for each exercise */
#table thead tr th:nth-child(1) {
    display: none;
}

/* hide the ID attribute for each exercise */
#table td:nth-child(1) {
    display: none;
}

tr > th {
padding-bottom: 7px;;
}

tr > td {
padding-bottom: 7px;
}

.edit-button {
margin-right: 20px;
}

#search_form {
  display: flex;
  margin-bottom: 20px;
}