<table>
    <thead>
        <tr>
            {% for key in bsg_people[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for person in bsg_people %}
        <tr>
            {% for key in person.keys() %}
            <td>{{ person[key] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>